.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Rancho样式 ------------- 影响全局 **********************************/

.row a {
  text-decoration: none !important;
}

.funlist {
  margin-top: 20px;
}

.funlist li {
  margin-bottom: 10px;
}

/* Rancho样式 ------------- index **********************************/

.search {
  margin-top: 25px;
}

.card-body {
  padding: 10px;
}

.shop-cp {
  display: flex;
}

.shop-name {
	display: inline-block;
	font-size: 16px;
	color: #000000;
  line-height: 24px;
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.shop-card {
  width: 20px;
	display: inline-block;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	background: #D0021B;
	border: 1px solid rgba(0,0,0,0.08);
	border-radius: 3px;
	padding: 1px 3px;
	margin-right: 4px;
}

.coupon-cp {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.coupon-cp b.coupon {
  float: left;
  line-height: 14px;
  background: url(../images/quan.png) center no-repeat rgba(255, 248, 248, 1);
  background-size: 100% 100%;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 400;
  padding: 2px 7px;
  margin: 6px 0;
  min-width: 57px;
  text-align: center;
  box-sizing: border-box;
  height:19px;
  color: #EC5E2A;
}

.coupon-cp b.coupon i {
  font-family: Arial;
  font-size: 15px;
  margin: 0 2px 0 0;
  position: relative;
  top:1px;
}

.coupon-cp span.count {
  color: #979897;
  font-size: 14px;
  line-height: 14px;
  height: 19px;
  margin: 8px 0 6px 0;
}

.yuan {
  display: inline-block;
  font-size: 10px;
  margin-right: 2px;
  color: #EC5E2A;
}

.now-price {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 0;
  color: #EC5E2A;
  margin-right: 10px;
}

.old-price {
  display: inline-block;
  font-size: 14px;
  color: #979897;
}

.loadmore {
  margin-top: 30px;
}

a.yellow {
  font-size: 12px;
  color: #FFFFFF;
  background: #EC5E2A;
  border-radius: 30px;
  padding: 1px 6px;
  text-decoration: none;
}

button.yellow {
  color: rgba(0, 0, 0, 0.5);
  background-color: #F7CB57;
  border-color: #F7CB57;
}

button.yellow:hover {
  background-color: #ffb700;
  border-color: #ffb700;
}

.form-control:focus {
  border-color: #F7CB57;
  box-shadow: 0 0 0 0.2rem rgba(247,203,87,.25);
}

.btn:focus {
  border-color: #F7CB57;
  box-shadow: 0 0 0 0.2rem rgba(247,203,87,.25);
}

a.red {
  color: #EC5E2A;
}

/* Rancho样式 ------------- coupon **********************************/

.coupon-left {
	margin-bottom: 30px;
}

.img-cp img {
  border-radius: 6px;
}

.price-cp {
  margin-top: 20px;
  margin-bottom: 4px;
}

.detail-yuan {
  display: inline-block;
  font-size: 16px;
  margin-right: 2px;
  color: #EC5E2A;
}

.detail-now-price {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 0;
  color: #EC5E2A;
}

.detail-old-price {
  display: inline-block;
  font-size: 16px;
  color: #979897;
  margin-left: 10px;
}

.detail-shop {
	background: #FFFFFF;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.02);
	border-radius: 4px;
	padding: 12px 20px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.shop-count {
  margin-top: 4px;
}

.count-cp {
	display: inline-block;
	width: 30%;
}

.shop-count .count-cp span:first-child {
	font-size: 14px;
	color: #9B9B9B;
}

.shop-count .count-cp span:last-child {
	font-size: 14px;
	color: #FF4400;
}

.coupon-title h5{
  color: #2c2c2c;
	line-height: 32px;
}

.coupon-number {
	font-size: 14px;
	color: #9B9B9B;
	margin-top: 5px;
}

.coupon-number span:last-child {
  float: right;
}

.coupon-get {
	height: 100px;
	position: relative;
	margin-top: 20px;
	background: #FFFFFF;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
	border-radius: 6px;
}

.coupon-get span{
	display: block;
}

.get-link {
	height: 100px;
	display: inline-block;
}

.get-link span:first-child {
	font-size: 30px;
	font-weight: 700;
	color: #FF4400;
	letter-spacing: 0;
	line-height: 30px;
	margin: 24px 0 0 20px;
}

.get-link span:last-child {
	font-size: 14px;
	color: #FF4400;
	letter-spacing: 0;
	line-height: 20px;
	margin: 5px 0 20px 20px;
}

.get-order {
	text-align: center;
	height: 100px;
	border-radius: 0 6px 6px 0;
	display: inline-block;
	float: right;
  background: #FF4400;
  cursor: pointer;
}

.get-order span:first-child {
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 30px;
	margin: 24px 22px 0 22px;
}

.get-order span:last-child {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 20px;
  margin: 5px 22px 20px 22px;
}

.coupon-right ul{
	list-style: none;
	padding: 0;
}

.coupon-right ul li:first-child img {
	border-radius: 8px 8px 0 0;
}

.coupon-right ul li:last-child img {
	border-radius: 0 0 8px 8px;
}
